<!doctype html>
<html lang="en">

<head>
  <title>Página WEB</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous" > 
  <style>
    body {
        margin: 20px; /* Establece el margen deseado */
    }
  </style>
</head>
<body>

<!--Menu y container-->
<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/libros">Books</a>
          <a class="nav-item nav-link" href="/nosotros">Calendar</a>
          <a class="nav-item nav-link" href="/admin/login">Login</a>
        </div>

      </div>
    </div>
  </nav>


    <br/>