<!DOCTYPE html>
<html>
<head>
    <title>Calendario</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS v5.2.1 --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
</head>
<body>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Event List</h2>
                <ul id="eventList"></ul>
            </div>
            <div class="col-md-6">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

    <script>
        // Obtener la variable "tiene_permiso" de tu backend para determinar si el usuario tiene permiso de edición
        var editable = {{ tiene_permiso|lower }};
        
        // Obtener los eventos del calendario desde tu backend
        var events = [
            {% for event in calendar %}
            {
                id: '{{ event[0] }}',
                title: '{{ event[1] }}',
                start: '{{ event[2].strftime("%Y-%m-%dT%H:%M:%S") }}',
                end: '{{ event[3].strftime("%Y-%m-%dT%H:%M:%S") }}'
            },
            {% endfor %}
        ];

        // Inicializar el calendario con las opciones adecuadas
        var calendar = $('#calendar').fullCalendar({
            editable: editable,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: editable,
            selectHelper: editable,
            select: function(start, end, allDay) {
                if (editable) {
                    var title = prompt("Enter Event Title");
                    if (title) {
                        
                        var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                        var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                        $.ajax({
                            url: "{{ url_for('insert') }}",
                            type: "POST",
                            data: { title: title, start: start, end: end },
                            success: function(data) {
                                alert(data);
                                alert("Added Successfully");
                                window.location.reload();
                            }
                        });
                    }
                }
            },
            eventResize: function(event) {
                if (editable) {
                    var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    var title = event.title;
                    var id = event.id;
                    $.ajax({
                        url: "{{ url_for('update') }}",
                        type: "POST",
                        data: { title: title, start: start, end: end, id: id },
                        success: function() {
                            calendar.fullCalendar('refetchEvents');
                            alert('Event Updated');
                            window.location.reload();
                        }
                    });
                }
            },
            eventDrop: function(event) {
                if (editable) {
                    var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    var title = event.title;
                    var id = event.id;
                    $.ajax({
                        url: "{{ url_for('update') }}",
                        type: "POST",
                        data: { title: title, start: start, end: end, id: id },
                        success: function() {
                            calendar.fullCalendar('refetchEvents');
                            alert('Event Updated');
                            window.location.reload();
                        }
                    });
                }
            },
            eventClick: function(event) {
                if (editable && confirm("Are you sure you want to remove it?")) {
                    var id =event.id;
                    $.ajax({
                        url: "{{ url_for('ajax_delete') }}",
                        type: "POST",
                        data: { id: id },
                        success: function() {
                            calendar.fullCalendar('refetchEvents');
                            alert('Event Removed');
                            window.location.reload();
                        }
                    })
                }
                alert('Event clicked: ' + event.title);
            },
            events: events
        });
        
        // Cargar y mostrar los eventos en la lista
        function loadEventList() {
            var eventList = $('#eventList');
            eventList.empty();

            // Ordenar los eventos por fecha de inicio
            events.sort(function(a, b) {
                var dateA = moment(a.start).toDate();
                var dateB = moment(b.start).toDate();
                return dateA - dateB;
            });

            $.each(events, function(index, event) {
                var startFormatted = moment(event.start).format("DD/MM/YYYY");
                eventList.append('<li>' + event.title + ' - ' + startFormatted + '</li>');
            });
        }
        
        loadEventList();
    </script>
</body>
</html>
