<!DOCTYPE html>
<html>
<head>
    <title>Calendario</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS v5.2.1 --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
</head>
<body>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Event List</h2>
                <div class="list-group" id="eventList"></div>
            </div>
            <div class="col-md-6">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

    <script>
        var events = [
            {% for event in calendar %}
            {
                title: '{{ event[1] }}',
                place:  '{{ event[2] }}',
                start: '{{ event[3].strftime("%Y-%m-%d") }}',
                end: '{{ event[4].strftime("%Y-%m-%d") }}'
            },
            {% endfor %}
        ];

        // Inicializar el calendario
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: events
        });

        // Filtrar eventos futuros y eventos de hoy
        var today = moment().startOf('day');
        var futureAndTodayEvents = events.filter(function(event) {
            var eventStartDate = moment(event.start, "YYYY-MM-DD");
            return eventStartDate.isSameOrAfter(today);
        });

        // Cargar y mostrar los eventos en la lista
        function loadEventList() {
            var eventList = $('#eventList');
            eventList.empty();

            var listHeader = `
                <a href="#" class="list-group-item list-group-item-action active">
                    <div class="row">
                        <div class="col-md-4"><strong>Title</strong></div>
                        <div class="col-md-4"><strong>Date and Time</strong></div>
                        <div class="col-md-4"><strong>Place</strong></div>
                    </div>
                </a>`;
            eventList.append(listHeader);

            futureAndTodayEvents.sort(function(a, b) {
                var dateA = moment(a.start, "YYYY-MM-DD").toDate();
                var dateB = moment(b.start, "YYYY-MM-DD").toDate();
                return dateA - dateB;
            });

            $.each(futureAndTodayEvents, function(index, event) {
                var startFormatted = moment(event.start).format("DD/MM/YYYY HH:mm"); // Agregar la hora
                var listItem = `
                    <a href="#" class="list-group-item list-group-item-action ${event.isToday ? 'list-group-item-danger' : ''}">
                        <div class="row">
                            <div class="col-md-4">${event.title}</div>
                            <div class="col-md-3">${startFormatted}</div>
                            <div class="col-md-3">${event.place}</div>
                        </div>
                    </a>`;
                eventList.append(listItem);
            });

        }

        // Resaltar evento del día
        function highlightTodayEvent() {
            var todayEvent = futureAndTodayEvents.find(function(event) {
                var eventStartDate = moment(event.start, "YYYY-MM-DD").startOf('day');
                return eventStartDate.isSame(today);
            });

            if (todayEvent) {
                todayEvent.isToday = true;
            }
        }

        // Cargar los eventos en la lista y resaltar el evento del día cuando el DOM esté listo
        $(document).ready(function() {
            loadEventList();
            highlightTodayEvent();
            loadEventList(); // Llamar a loadEventList nuevamente después de resaltar el evento del día
        });

    </script>
</body>
</html>
