{% include 'sitio/cabecera.html' %}
    <style>
        body {
            margin: 20px; /* Establece el margen deseado */
        }
        .card-img-top {
        width: 200px; /* Establece la anchura deseada */
        height: 300px; /* Establece la altura deseada */
        }
    </style>

    <div class="row">
        {% for libro in libros %}
        <div class="col-md-2">
            <div class="card text-center" >
                <img class="card-img-top mx-auto" src="/img/{{libro[2]}}" alt="Title">
                <div class="card-body">
                    <p class="card-text">
                        <a name="" id="" class="btn btn-outline-success" href="{{libro[3]}}" role="button">{{libro[1]}}</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% include 'sitio/pie.html' %}