{% include 'sitio/cabecera.html' %}

<style>
    body {
        margin: 20px;
    }
    .card-img-top {
        margin-top: 20px;
        width: 200px;
        height: 300px;
    }
    /* Estilo para aplicar escala de grises a imagenes*/
    .img-grayscale {
        filter: grayscale(100%);
    }
    .card-column {
        margin-bottom: 20px; /* Espacio entre las filas */
    }

</style>

<button id="toggleFormBtn" class="btn btn-primary mb-3">Search Form</button>

<form id="filterForm" action="/sitio/libros" method="GET" style="display: none;">
    <div class="mb-3">
        <label for="selectYear">Select Year:</label>
        <select id="selectYear" name="year" class="form-select">
            <option value="">All Years</option>
            {% for year in range(1800, 2051) %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="selectArea">Select Area:</label>
        <select id="selectArea" name="area" class="form-select">
            <option value="">All Areas</option>
            <option value="CONSTRUCCIÓN">CONSTRUCCIÓN</option>
            <option value="EXPRESIÓN GRÁFICA">EXPRESIÓN GRÁFICA</option>
            <option value="URBANISMO">URBANISMO</option>
            <option value="PROYECTOS">PROYECTOS</option>
            <option value="ESTRUCTURAS">ESTRUCTURAS</option>
            <option value="INSTALACIONES">INSTALACIONES</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="selectAuthor">Select Author:</label>
        <select id="selectAuthor" name="author" class="form-select">
            <option value="">All Authors</option>
            {% for author in autores %}
                <option value="{{ author[0] }}">{{ author[1] }} {{ author[2] }}</option>
            {% endfor %}
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
<br>
<div class="row">
    {% for libro in libros %}
    <div class="col-md-2 card-column">
        <div class="card text-center">
            <img class="card-img-top mx-auto img-grayscale" src="/img/{{libro[2]}}" alt="Title">
            <div class="card-body">
                <p class="card-text">
                    <a name="" id="" class="btn btn-outline-dark" href="{{libro[3]}}" role="button">{{libro[1]}}</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'sitio/pie.html' %}

<script>
    const toggleFormBtn = document.getElementById("toggleFormBtn");
    const filterForm = document.getElementById("filterForm");

    toggleFormBtn.addEventListener("click", function () {
        if (filterForm.style.display === "none" || filterForm.style.display === "") {
            filterForm.style.display = "block";
            toggleFormBtn.textContent = "Ocultar formulario";
        } else {
            filterForm.style.display = "none";
            toggleFormBtn.textContent = "Mostrar formulario";
        }
    });
</script>
