<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <style>
        body {
            background-image: url('/static/archivos/fondos/fondo7.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

{% include 'sitio/cabecera.html' %}

{% include 'sitio/calendario.html' %}


{% include 'sitio/pie.html' %}
