<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous" > 
  <style>
    /* Estilos para el logotipo */
    body {
        margin: 20px; 
    }
    .navbar {
        border-radius: 10px;
        overflow: hidden;
    }
  </style>

</head>

<body>


<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/admin/" aria-current="page">Home</a>
            <a class="nav-item nav-link" href="libros">Books</a>
            <a class="nav-item nav-link" href="nosotros">Calendar</a>
            <a class="nav-item nav-link" href="cerrar">Close</a>
            <a class="nav-item nav-link" href="/">Website </a>
            <a class="nav-item nav-link" href="permisos">Permisos </a>
        </div>

      </div>
    </div>
  </nav>
