{% include 'admin/cabecera.html' %}
</br>
<div class="row">
    <div class="col-md-10">
        <div class="p-5 mb-8 bg-light rounded-3">
            <p class="lead"> Hay que seguir implementando cosas, como subir imagenes y poner estilos, esta es una pag de bienvenida   </p>
            <hr class="my-2">
            <p class="lead">
            <a class="btn btn-outline-success " href="/admin/libros" role="button"> Subir archivos </a>
        </p>
        </div>
    </div>
    <div class="col-md-2">
        <div class="p-5 mb-4 bg-light rounded-3">
            <p > Bienvenid@ <strong style="color: rgb(143, 12, 75);">{{session['username']}}</strong> 
                ahora podrás administrar todos tus documentos
            </p>
          </div>
    </div>
</div>

  


{% include 'admin/pie.html' %}
