{% include 'admin/cabecera.html' %}

</br>
<div class="container mt-4">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">INSCRIPCIÓN</h1>
                    <p>
                        <strong>Attention:</strong> Before uploading the information, we kindly request that you be careful and attentive 
                        to the provided data and that the recommended specifications are met.
                    </p>
                </div>
                <div class="card-body">
                   <form action="/admin/libros/guardar" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                          <label for="" class="form-label">Title:</label>
                          <input type="text"
                            class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Write the file's title">
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Cover image:</label>
                          <input type="file"
                            class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Select the main image">
                        </div>
                        <div class="mb-3">
                            <label for="txtAutorNombrer">Author Name:</label>
                            <input type="text" class="form-control" name="txtAutorNombre" id="txtAutorNombre" placeholder="Author's First Name">
                        </div>
                        <div class="mb-3">
                            <label for="txtAutorApellido">Author Last Name:</label>
                            <input type="text" class="form-control" name="txtAutorApellido" id="txtAutorApellido" placeholder="Author's Last Name">
                        </div>                     
                        <div class="mb-3">
                            <label for="" class="form-label">URL descarga:</label>
                            <input type="text"
                              class="form-control" name="txtURL" id="txtURL" aria-describedby="helpId" placeholder="Escriba la URL de descarga">
                        </div>
                        <div class="mb-3">
                            <label for="txtYear">Year:</label>
                            <select id="txtYear" name="txtYear">
                                <option value="">Select a year.</option>
                                {% for year in range(1800, 2051) %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="txtArea">Area:</label>
                            <select id="txtArea" name="txtArea" class="form-select">
                                <option value="">Select an area.</option>
                                <option value="CONSTRUCCIÓN">CONSTRUCCIÓN</option>
                                <option value="EXPRESIÓN GRÁFICA">EXPRESIÓN GRÁFICA</option>
                                <option value="URBANISMO">URBANISMO</option>
                                <option value="PROYECTOS">PROYECTOS</option>
                                <option value="ESTRUCTURAS">ESTRUCTURAS</option>
                                <option value="INSTALACIONES">INSTALACIONES</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                   </form>

                </div>
                <div class="card-footer text-muted">
                    {% if mensaje_error %}
                        <div class="alert alert-danger">{{ mensaje_error }}</div>
                    {% endif %}  
                </div>
            </div>
        </div>        
    </div>
</div>
</br>
{% include 'admin/tablalibros.html' %}
        
{% include 'admin/pie.html' %}
