{% include 'admin/cabecera.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login del administrador</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <br>

        {% if mensaje %}
        <div class="alert alert-danger" role="alert">
          <strong>{{ mensaje }}</strong>
        </div>

        {% endif %}

        <div class="card">
          <div class="card-body">
            <form action="/admin/login" method="Post">
              <h3 class="text-center">Access to the platform</h3>
              <h5 class="text-center">Login</h5>

              <div class="mb-3 bg-light">
                <input type="text" class="form-control" name="txtUsuario" id="txtUsuario"
                  aria-describedby="helpId" placeholder="Username">
              </div>

              <div class="mb-3 bg-light">
                <input type="password" class="form-control" name="txtPassword" id="txtPassword"
                  aria-describedby="helpId" placeholder="Password">
              </div>


              <div style="display: flex; justify-content: center; ">
                <button type="submit" class="btn btn-dark">LOGIN</button>
              </div>


              <div style="text-align: center;">
                <br>
                <a href="/admin/olvide-contrasena">Forgot your password?</a>
              </div>

            </form>

            <hr>
            <div style="display: flex; justify-content: center; ">
              <a href="/admin/registro" class="btn btn-outline-dark">Sign Up</a>
            </div>
      
          </div>
        </div>
      </div>
      <div class="col-md-4">

      </div>

    </div>
  </div>

  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
