{% include 'sitio/cabecera.html' %}

{% extends 'base.html' %}

<!-- Agrega estas líneas en tu plantilla HTML para cargar PDF.js desde un CDN -->
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script src="https://mozilla.github.io/pdf.js/build/pdf.worker.js"></script>

{% block content %}
<div class="container">
  <h1 class="text-center">{{ libro[1] }}</h1>
  <p class="bold-text"><strong>Autor:</strong>
    {% for autor in autores %}
        {% if libro[6] == autor[0] %}
            {{ autor[1] }} {{ autor[2] }}  <br>
        {% endif %}
    {% endfor %}
  </p>
  <p><strong>Year:</strong> {{ libro[4] }}</p>
  <p><strong>URL:</strong> <a href="{{ libro[3] }}" target="_blank">{{ libro[3] }}</a></p>
  {% if libro[7] %}
    <p><strong>Description:</strong> {{ libro[7] }}</p>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <img src="/img/{{ libro[2] }}" alt="{{ libro[1] }}" class="img-fluid">
      {% if libro[10] %}
        <img src="{{ url_for('static', filename='archivos/imagenes/' + libro[10]) }}" alt="{{ libro[10] }}" class="img-fluid">
      {% endif %}
    </div> 
    <div class="col-md-6">
      {% if libro[9] %}
        <iframe src="{{ url_for('static', filename='archivos/pdf/' + libro[9]) }}" alt="{{ libro[9] }}"width="100%" height="500px"></iframe>
      {% endif %} 
    </div>

</div>

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="text-center">Comentarios</h2>
      <ul class="list-group">
        {% if user_id is not none %}
          {% if comentarios %}
            <ul class="list-group">
              {% for comentario in comentarios %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ comentario[2] }}: {{ comentario[1] }} 
                  <form action="/admin/libros/comentarios/{{ comentario[0] }}/eliminar" method="post" style="display: inline;">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                  </form>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No hay comentarios disponibles.</p>
          {% endif %}
        {% endif %}
      </ul>
      <!-- Formulario Comentarios -->
      <form action="/admin/libros/{{ libro[0] }}/comentarios" method="post" class="mt-3">
        <div class="form-group">
          <label for="comentario">Add comment:</label>
          <textarea id="comentario" name="comentario" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
